.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 200px;
  width: 100vw;
  padding: 50px;
}

.temp_items {
  margin: 10px;
}

.containerOne {
  width: 340px;
}

.containerTwo {
  width: 350px;
  height: 350px;
}
